/*------------Cascading Style Sheet-------------------- */
* {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 100%;
  }

  /*----------- header navigation bar --------- */
  .nav-plus-banner {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
  }
  .navbar > h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    top: 50px;
  }
  .navbar {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
  }
  .navbar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 63px;
  }
  .navbar > ul > li {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-right: 35px;
  }
  .navbar > ul > li > a {
    color: #424242;
  }
  .navbar > ul > li > :hover {
    background-color: rgb(226, 224, 224);
    transition: 0.2s;
  }
  /* --------------header banner ---------- */
  .banner {
    margin-top: 116px;
  }
  .banner h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 33px;
  }
  .banner p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 33px;
  }
  .banner button {
    background: #ff900e;
    border-radius: 8px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
    margin-bottom: 50px;
  }
  .banner img {
    width: 75%;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
  }
  /*---------Second Part-----------------------------
  ------------ features-container quick list ----------- */
  
  .features-container {
    display: flex;
    width: 50%;
    gap: 73px;
    align-items: center;
    justify-content: space-around;
    margin-top: 85px;
  }
  .features-img {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .features-img img {
    width: 100%;
  }
  .features-text h2 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
  }
  .features-text h2 > .span1 {
    color: #727272;
  }
  .features-text h2 > .span2 {
    color: #131313;
    font-weight: 500;
  }
  .features-text h2 > .span3 {
    color: #ff900e;
  }
  .features-text p,
  .architect-left p {
    margin-bottom: 32px;
    color: #727272;
  }
  .architect-left h5 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  
  .features-text > button {
    background: #ff900e;
    border-radius: 8px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #ffffff;
    text-align: center;
    border: none;
    margin-bottom: 50px;
  }
   /*--------- architect part ------- */

  .architect-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 4px solid #ff900e;
    padding-left: 21px;
    margin-bottom: 24px;
  }
  .architect-shadow {
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
  }
  .architect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 146px;
    margin-top: 130px;
  }
  .architect-shadow {
    padding: 30px;
  }
  .architect-shadow h5 {
    margin-bottom: 10px;
  }

  .architect-left {
    width: 50%;
  }
  .architect-right {
    width: 50%;
  }
  .architect-right {
    position: relative;
  }
  .architect-right button {
    padding: 46px 42px;
    background: #ff900e;
    border-radius: 8px;
    border: none;
    position: absolute;
    left: -92px;
    bottom: -77px;
  }
  .architect-right button h2 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #ffffff;
  
    text-align: center;
  }
  .architect-right button p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
  }
  /*------------- icons part ----------- */
  .icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    margin-bottom: 180px;
  }
  .icon-above-text h2 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 24px;
    width: 75%;
  }
  
  .icon-above-text > .p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px;
    color: #727272;
    width: 75%;
  }
  .icon p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 5px;
  }
  .icon {
    border: 1px solid #ff900e;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon img {
    width: 47.39px;
    height: 45.22px;
    margin-bottom: 10px;
  }
  .hover1:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .hover2:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .hover3:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .hover4:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .sponspors-header {
    width: 75%;
  }
  .sponspors-header h1,
  .contact-title {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
  }
  .sponspors-header p,
  .contact-paragraph {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px;
    color: #727272;
    margin-bottom: 50px;
  }
  .sponspors-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    width: 75%;
    gap: 155px;
    align-items: center;
    margin-bottom: 170px;
  }
   .sponspors-header>div{
    text-align: center;
  } 
  .sponspors-items img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  /*--------------- last past footer --------------- */
  footer p {
    width: 75%;
    display: flex;
    align-items: center;
    font-family: "Work Sans";
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    background: #fff4e7;
    border-radius: 8px;
    color: #424242;
    margin-bottom: 216px;
  }
 
  /* ---------------------------------------------------------------------
  ------------------------Media Query for mobile device------------------- */
  @media screen and (max-width: 576px) {
    .navbar {
      flex-direction: column;
    }
    .navbar > h1 {
      justify-content: center;
      font-size: 35px;
    }
    .navbar > ul {
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
    }
    .banner h1 {
      font-size: 35px;
    }
    .banner p {
      padding-left: 10px;
      padding-right: 10px;
    }
    .features-container {
      flex-direction: column;
    }
    .features-text h2,.sponspors-header h1,.icon-above-text h2 {
      font-size: 30px;
    }
    .features-img {
      grid-template-columns: repeat(1, 1fr);
    }
    .architect-title {
      font-size: 30px;
    }
    .architect-container {
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }
    .architect-right button h2 {
      font-size: 20px;
    }
    .architect-right button {
      padding: 5px 12px;
      left: 45px;
      bottom: -90px;
      justify-content: center;
    }
    .architect-right button p {
      font-size: 13px;
    }
    .icon-container {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 50px;
    }
    .icon {
      margin-bottom: 15px;
    }
    .icon-above-text > .p {
      margin-bottom: 50px;
      text-align: center;
    }
    .icon-above-text > h2 {
      text-align: center;
    }
    
    .sponspors-items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      margin-bottom: 80px;
      gap: 30px;
    }
    .sponspors-items img {
      width: 75%;
    }
    footer p {
      margin-bottom: 50px;
    }
  }